[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
jsonschema = "*"
uuid = "*"
keyring = "*"
playwright = "*"
pywin32 = {version = "*", markers = "sys_platform == 'win32'"}
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
