QWidget {
  background: transparent;
  color: black;
  border-radius: 3px;
  border: none;
}

QLabel {
  font-size: 12px;
}

QGroupBox {
  /* padding-top: 1.5em; */
  subcontrol-origin: margin;
  font-weight: bold;
  color: black;
}

QGroupBox::title {
  subcontrol-origin: margin;
  color: black;
  left: 10px;
  top: 0;
  font-weight: bold;
  font-family: "Open Sans";
}

QGroupBox#Logs-Information {
  margin-top: 7px;
  subcontrol-origin: margin;
  font-weight: bold;
  color: #fcfcfc;
  border-radius: 5px;
  margin-left: 0px;
}

QGroupBox#Logs-Information::title {
  subcontrol-origin: margin;
  left: 10px;
  top: 0;
  color: #fcfcfc;
  font-weight: bold;
  font-family: "Open Sans";
}
