QWidget#icon_text_widget {
  background-color: transparent;
  border-right: 1px solid #f58220;
  border-bottom-left-radius: 9px;
  margin: 0px;
  padding: 0px;
}

QPushButton {
  border: none;
  background-color: transparent;
  padding: 1em;
  text-align: left;
  color: white;
}

QPushButton:checked {
  background-color: white;
  border-radius: 4px;
  /* height: 2em; */
  color: black;
}
