QWidget {
  background: transparent;
  color: black;
  border-radius: 3px;
  border: none;
}

/* QPushButton {
  border: 1px solid red;
} */

QGroupBox {
  padding-top: 1em;
  subcontrol-origin: margin;
  font-weight: bold;
  color: black;
  margin-top: 0;
}

QGroupBox::title {
  subcontrol-origin: margin;
  color: black;
  left: 10px;
  top: 0;
  font-weight: bold;
  font-family: "Open Sans";
}

QWidget#actions-btn-widget {
  /* border: 2px solid #f58220; */
  border-radius: 3px;
  /* background-color: #dedede; */
  padding: 0;
}
