QGroupBox#Error-Outer {
  background: transparent;
  border: none;
}

QGroupBox#Error-Outer::title {
  subcontrol-origin: margin;
  left: 10px;
  top: 0;
  font-weight: bold;
  font-family: "Open Sans";
}
QWidget#Error-Container {
  background: transparent;
  border: 1px solid red;
}

QTextEdit#error-text-edit {
  background: transparent;
}

QPushButton#close-btn {
  background-color: #feb220;
  color: black;
  padding: 5px 20px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 3px;
}
