QWidget#icon_only_widget {
  background-color: transparent;
  border-right: 2px solid #f58220;
  /* padding: 2px; */
  margin: 0px;
  padding: 0px;
}

QPushButton {
  border: none;
  background-color: transparent;
  color: white;
  padding: 1em;
}

QPushButton:checked {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  /* height: 2em; */
  color: black;
}
